@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: "Lobster";
    src: url("fonts/Lobster-Regular.ttf");
}

:root {
    --navbar-height: 60px;
    --main-color: #292b2f;
    --secondary-color: #3bbfc3;
    --font-color: #d7d5d9;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: var(--navbar-height);
    background: var(--main-color);
    transition: top 0.3s;
}
.navbar__links {
    float: right;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch
}
.navbar__link {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    padding: 15px;
    font-size: 25px;
}
.navbar__link:hover {
    color: var(--secondary-color);
}
.navbar__icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .navbar__links {
        display: none;
        float: none;
    }
    .navbar__link {
        display: block;
        background: #36383d;
        text-align: center;
    }
    .navbar__icon {
        display: block;
        position: absolute; 
        top: 0;
        right: 10px;
        font-size: 40px;
        color: var(--font-color);
        width: var(--navbar-height);
        height: var(--navbar-height);
        text-align: center;
        line-height: var(--navbar-height);
        cursor: pointer;
    }
    .navbar__links_open {
        display: block;
        position: absolute;
        top: var(--navbar-height);
        width: 100%;
    }
}

.home {
    background-image: url("images/background-1.jpeg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile {
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #586c70;
    background-image: url("images/avatar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile__name {
    font-family: "Lobster", cursive;
    color: var(--secondary-color);
}
.profile__descritpion p {
    font-size: 20px;
    color: #ccc;
}

.projects {
    position: relative;
    min-height: 100vh; 
    text-align: center;
    background: #F0EDE5;
}
.projects>h1 {
    margin: 0;
    padding: 25px;
    color: #018185;
}
.projects-content {
    margin: 0 auto;
    width: 85%;
    min-height: 80vh; 
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;    
}

.project-item {
    width: 30%;
    margin: 5px;
    border: 1px solid #777;
    border-radius: 0 0 10px 10px;
    background: white;
    transition: .3s;
}
.project-item:hover {
    box-shadow: 0 10px 30px 5px #ccc;
    transform: scale(1.05, 1.05);
}
@media only screen and (max-width: 700px) {
    .project-item {
        width: 45%;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 500px) {
    .project-item {
        width: 80%;
        margin: 20px 0;
    }
}
.project-item__wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;

    background: #aaa;
}
.project-item__screenshot {
    position: absolute;
    width: 100%;
    height: auto;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    margin: auto;
}

.project-item__description {
    text-align: center;
    color: #333;
    cursor: default;
}
.project-item__description * {
    margin: 0;
    padding: 5px 0;
}

.contact {
    position: relative;
    background-image: url("images/background-2.jpeg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 50%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
@media only screen and (max-width: 700px) {
    .contact__info {
        width: 80%;
    }
}
.contact__info h1 {
    color: var(--secondary-color);
    margin: 0;
}
.contact__phone, .contact__mail {
    color: var(--font-color);
}
.fa-phone, .fa-envelope {
    color: #40af93;
}